<ul>
<% @links.each do |link| %>
	<li>
		<%= link_to link[2], '/home/page/'+link[0]+'/per_page/'+link[1] %>
	</li>
<% end %>
</ul>
<ul>
<% @courses.each do |course| %>
	<li>
		<div>
			<%= link_to course["name"], home_path(course["id"]) %>
		</div>
		<div><%= course["description"] %></div>
		<hr/>
	</li>
<% end %>
</ul>
